.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 30px;
  }
  
  .button {
    background-color:aqua;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color:aquamarine
  }
  